*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: background-image;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}
.container h1{
    color: #FFF;
    margin: 20px;
}
.content-grid{
    width: 600px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 170px 80px 70px;
    gap: 15px;
}
.rect{
    border: 4px solid #FFF;
    position: relative;
    transition: .5s;
}
.rect::after{
    content: '';
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .5s;
}
.rect:nth-child(1){grid-area: 1 / 1 / span 1 / span 1; }
.rect:nth-child(2){grid-area: 1 / 2 / span 2 / span 1; }
.rect:nth-child(3){grid-area: 1 / 3 / span 3 / span 1; }
.rect:nth-child(4){grid-area: 2 / 1 / span 1 / span 1; }
.rect:nth-child(5){grid-area: 3 / 1 / span 1 / span 2; }

.rect:nth-child(1)::after{ background-image: url('img/img1.jpg'); }
.rect:nth-child(2)::after{ background-image: url('img/img2.jpg'); }
.rect:nth-child(3)::after{ background-image: url('img/img3.jpg'); }
.rect:nth-child(4)::after{ background-image: url('img/img4.jpg'); }
.rect:nth-child(5)::after{ background-image: url('img/img5.jpg'); }

.container.opacity_image .rect::after{
    opacity: 0;
}
.container.visible_image .rect::after{
    opacity: 1;
}